{% extends 'base.html.twig' %}

{% block title %}Back Office
{% endblock %}

{% block body %}
	<br>
	<h4>Bonjour
		{{app.user.prenom}}
		{{app.user.nom}}
	</h4>
	<br>
	<h4>
		Voici les demandes à traitées:</h4>
	<br>
	<table class="table">
		<thead>
			<tr>
				<th>Email</th>
				<th>Utilisateur</th>
				<th>Nombre de demande</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for message in messages %}
				{# {% if message.done == 0 %} #}
				<tr>
					<td>
						{{ message.user.email }}
					</td>
					<td>{{ message.user}}</td>
					<td>
						{# {{ message.count }} #}
					</td>
					<td>
						<a href="{{ path('user_show', {'id': message.user.id}) }}">
							Voir</td>
					</td>
				</tr>
			</td>
		</tbody>
	</tr>
</td></tbody></tr></a>{# <a href="{{ path('message_edit', {'id': message.id}) }}">edit</a> #}</tbody></td></tr>{# {% endif %} #}{% else %}<tr><td colspan="3">Aucun résultat</td></tr>{% endfor %}</tbody></tbody> </table> <a href="{{ path('message_traite') }}">Voir les demandes déjà traités</a>{% endblock %}
