{% extends 'base.html.twig' %}

{% block title %}Back Office
{% endblock %}

{% block body %}
	<div class="container">
		<div class="mx auto">
			<br>
			<h2>Bienvenue sur le Back Office d'administration</h2>
			<br>
			<h3>Voici les utilisateurs avec des demandes non traitées:</h3>
			<br>
			<table class="table">
				<thead>
					<tr>
						<th>Utilisateur</th>
						<th>Email</th>
						<th>Nombre de demandes à traiter</th>
					</tr>
				</thead>
				<tbody>
					{% for um in userMessages %}
						{% if um | length > 0  %}
							<tr>
								<td class>
									<a href="{{ path('user_show' , {'id': um.id}) }}">{{ um.fullName }}</a>
								</td>
								<td>{{ um.email }}</td>
								<td>
									<a href="{{ path('user_show' , {'id': um.id}) }}">
										<span style="padding: 12px; background-color: red; margin-left: 90px" class="badge badge-primary badge-pill">{{ um.messages | length }}</span>
									</a>
								</td>
							</tr>
						{% endif %}
					{% else %}
						<tr>
							<td colspan="7">Toutes les demandes ont été traitées</td>
						</tr>
					{% endfor %}
				</tbody>
			</tbody>
		</table>
		<br>
		<a class="btn btn-primary" href="{{ path('index_done') }}">Voir les demandes déjà traitées</a>
	</div>
</div>{% endblock %}
