{% extends 'base.html.twig' %}

{% block title %}Back Office
{% endblock %}

{% block body %}
	<br>
	<h4>Bonjour
		{{app.user.prenom}}
		{{app.user.nom}}
	</h4>
	<br>
	<h4>
		Voici les demandes déjà traitées:</h4>
	<br>
	<table class="table">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Content</th>
			</tr>
		</thead>
		<tbody>
			{% for message in messages %}
				{% if message.done == 1 %}
					<tr>
						<td>{{ message.user.email }}</td>
						<td>{{ message.content }}</td>
					</tr>
				{% endif %}
			{% else %}
				<tr>
					<td colspan="3">Aucun résultat</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="{{ path('admin') }}">Voir les demandes non traités</a>

{% endblock %}
