{% extends 'base.html.twig' %}

{% block title %}Back Office
{% endblock %}

{% block body %}
	<br>
	<h4>Bonjour
		{{app.user.prenom}}
		{{app.user.nom}}
	</h4>
	<br>
	<h4>
		Voici les demandes à traitées:</h4>
	<br>
	<table class="table">
		<thead>
			<tr>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}{% endfor %}
			{% for message in app.user.messages %}
				{# {% if message.done == 0 %} #}
				<tr>
					<td>
						{{ message.content }}
					</td>
					<td></td>
					<td>{# {{ message.createdAt | date }} #}
						{# {{ message.count }} #}
					</td>
					{# <td>{{ message.user|length }}</td> #}
					<td>
						{# <a href="{{ path('message_show', {'id': message.userMessages.id}) }}"> #}
						Voir
					</td>
				</tr>
			</td>
		{% endfor %}
	</tbody>
</table>{% endblock %}
