{# <form method="post" action="{{ path('message_traitement', {'id': user.message.id}) }}" onsubmit="return confirm('Avez vous bien traité cette demande ?');">
	<button class="btn">Définir comme traitée</button>
</form> #}
{# {{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}
