{{ form_start(form) }}
<div class="container">
	<br>
	<div class="card bg-light mt-4">
		<article class="card-body mx-auto" style="max-width: 400px;">
			<h4 class="card-title mt-3 text-center">Écrivez votre demande ici :</h4>
			<br>
			{{ form_errors(form) }}
			<div class="form-group input-group text-center" style="margin-top: -40px;">
				{{ form_row(form.content) }}
			</div>
			<div class="form-group">
				<p>Signé:
					{{app.user.prenom}}
					{{app.user.nom}}</p>
			</div>
			<div class="d-none">
				{{ form_row(form.done) }}
			</div>
			<div class="form-group">
				<button class="btn btn-primary">{{ button_label|default('Envoyer votre demande') }}</button>
			</div>
		</article>
	</div>
</div>

{{ form_end(form) }}
