{% extends 'base.html.twig' %}

{% block title %}Edit Message
{% endblock %}

{% block body %}
	<h1>Edit Message</h1>

	{{ form_start(form) }}
	<div class="container">
		<br>
		<div class="card bg-light">
			<article class="card-body mx-auto" style="max-width: 400px;">
				<h3 class="card-title mt-3 text-center">Écrivez votre demande ici :</h3>
				<br>
				{{ form_errors(form) }}
				<div class="form-group input-group text-center">
					{{ form_row(form.content) }}
				</div>
				<div class="form-group">
					<p>Signé:
						{{app.user.prenom}}
						{{app.user.nom}}</p>
				</div>
				<div class="form-group input-group text-center">
					{{ form_row(form.done) }}
				</div>
				<div class="form-group">
					<button class="btn btn-primary">{{ button_label|default('Envoyer votre demande') }}</button>
				</div>
			</article>
		</div>

		{{ form_end(form) }}
		{# {{ include('message/_form.html.twig', {'button_label': 'Update'}) }} #}

		<a href="{{ path('admin') }}">back to list</a>

		{# {{ include('message/_delete_form.html.twig') }} #}
	{% endblock %}
