{% extends 'base.html.twig' %}

{% block title %}Mes demandes en cours :
{% endblock %}

{# affichage des message de l'Utilisateur connecté  #}
{% block body %}

	<div class="container">
		<a class="btn btn-secondary col-1" href="{{ path('home') }}" style="position: sticky; top: 80px;">Retour</a>
		<div class="col-8 mx-auto">
			<h2>Mes demandes en cours:
			</h2>
			<br>
			{% for message in messages %}
				<div class="card">
					<h5 class="card-header">
						<small style="color: blue;">
							Le
							{{message.createdAt | date('d/m/Y')}}
							à
							{{message.createdAt | date('H:i')}}
						</small><br>
						{% if message.done == 1 %}
							<small style="color: red">Traité le
								{{message.doneAt | date('d/m/Y')}}
								à
								{{message.doneAt | date('H:i')}}</small>
						{% endif %}
					</h5>
					<div class="card-body">
						<p class="card-text">{{message.content}}</p>
					</div>
				</div>
				<br>
			{% endfor %}
			<br>
			<br>
		</div>
	</div>
{% endblock %}
