{% extends 'base.html.twig' %}

{% block title %}Message
{% endblock %}

{% block body %}
	<h1>Message</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>De</th>
				<td>{{ message.user }}<br>{{ message.user.email }}</td>
			</tr>
			<tr>
				<th>Demande</th>
				<td>{{ message.content }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('admin') }}">back to list</a>

	{# <a href="{{ path('message_edit', {'id': message.id}) }}">edit</a> #}

	{# <a href="{{ path('message_traitement', {'id': message.id}) }}">traiter</a> #}

	{% if message.done == 0 %}
		{{ include('message/_done.html.twig') }}
	{% endif %}
{% endblock %}
