{% extends 'base.html.twig' %}

{% block title %}Demandes en cours de
	{{user.fullName}}
{% endblock %}

{% block body %}

	<div class="container">
		<a class="btn btn-secondary col-1" href="{{ path('user_index') }}" style="position: sticky; top: 80px;">Retour</a>
		<div class="col-8 mx-auto">
			<h2>
				Demandes en cours de</h2>
			<h3>{{user.fullName}}:</h3>
			<br>
			<h5>
				Email :
				{{user.email}}</h5>
			<br>
			{% for message in messages %}
				{% if message.done == 0 %}
					<div class="card">
						<h5 class="card-header">
							<small style="color: blue;">Par
								{{user.fullName}}
								le
								{{message.createdAt | date('d/m/Y')}}
								à
								{{message.createdAt | date('H:i')}}</small>
						</h5>
						<div class="card-body">
							<p class="card-text">{{message.content}}</p>
							{{ include('admin/_done.html.twig') }}
						</div>
					</div>
					<br>
				{% endif %}
			{% endfor %}
			<br>
			<br>
		</div>
	</div>
	{# <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a> #}
{% endblock %}
